<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeStation - ADMIN</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;0,700;1,600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="icon" type="image/x-icon"
        href="https://res.cloudinary.com/dz7fuqwnr/image/upload/v1778395481/WhatsApp_Image_2026-05-10_at_12.12.36_nra5vk.jpg">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="/css/admin/forgotadminpassword.css">
</head>

<body class="admin-bg">
    <main class="login-container">

        <input type="hidden" id="csrfToken" value="<%= csrfToken %>">

        <div class="login-image-side">
            <div class="image-content">
                <h2 class="brand-title">HomeStation</h2>
                <span class="admin-badge">Admin Portal</span>
            </div>
        </div>

        <div class="login-form-side">

            <div class="form-wrapper">

                <h1 class="title">Reset Password</h1>

                <p class="subtitle">
                    Enter your registered email address
                </p>

                <form id="forgotPasswordForm" class="login-form">

                    <div class="form-group">

                        <label for="email">
                            Email ID
                        </label>

                        <div class="input-container">

                            <i class="fa-regular fa-envelope input-icon"></i>

                            <input type="email" id="email" name="email" placeholder="Enter your Email ID"
                                autocomplete="email">

                        </div>

                    </div>

                    <div class="back-link">
                        <a href="/admin/login">
                            Back to Login
                        </a>
                    </div>

                    <button type="submit" id="submitBtn" class="btn btn-login">

                        Next

                    </button>

                </form>

            </div>

        </div>

    </main>

    <script src="/js/admin/forgotadminpassword.js"></script>

</body>

</html>