<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeStation</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;0,700;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="https://res.cloudinary.com/dz7fuqwnr/image/upload/v1778395481/WhatsApp_Image_2026-05-10_at_12.12.36_nra5vk.jpg">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="/css/user/newpassword.css">
</head>

<body class="shared-bg">
    <main class="signup-container">
        <div class="signup-left">
            <div class="form-wrapper">
                <h1 class="title"><i class="fa-solid fa-key header-title-icon"></i>Create new password</h1>
                <p class="subtitle">Choose a strong password for your account.</p>
                
                <input type="hidden" id="csrfToken" value="<%= csrfToken %>">

                <form class="signup-form" id="resetPasswordForm" novalidate>
                    <div class="form-group">
                        <label for="new-password">New Password</label>
                        <div class="input-container password-container">
                            <i class="fa-solid fa-lock input-icon"></i>
                            <input type="password" id="new-password" placeholder="Enter new password">
                            <i class="fa-regular fa-eye-slash toggle-password" data-target="new-password"></i>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="confirm-password">Confirm Password</label>
                        <div class="input-container password-container">
                            <i class="fa-solid fa-lock input-icon"></i>
                            <input type="password" id="confirm-password" placeholder="Confirm new password">
                            <i class="fa-regular fa-eye-slash toggle-password" data-target="confirm-password"></i>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-login btn-submit-spacing" id="submitBtn">Update password</button>
                </form>
            </div>
        </div>

        <div class="signup-right">
            <div class="right-content">
                <h2 class="welcome-title">HomeStation</h2>
                <p class="welcome-desc">Your one stop destination for furniture, home furnishings, and decor to bring the joy.</p>
            </div>
        </div>
    </main>

    <script src="/js/user/newpassword.js"></script>
</body>

</html>